body{
  color:#064635;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}
/* Top container */
.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 2rem;
}

.background {
    max-width: 100%;
    max-height: 100%;
}

.navbar{
  padding-right: 1.5rem;
  margin:none;
}

.nav-item{
  padding: 0 0.5rem;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: #146356;
}


.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2820, 99, 86, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

h1{
  color: #146356;
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;

}

.summary{
  color: #65C18C;
  font-size: 1.5rem;
  font-weight:normal;
  margin: 30px auto 0 auto;
}

h2{
  color: #146356;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

h3{
  font-weight: bold;
}

hr {
  border: none;
  border-top: dotted 10px #C1F4C5;
  background-color: #fff;
  margin: 100px auto;
  width: 6%;
}

p{
  font-size: 1.5rem;
  line-height: 2;
}

li{
  font-size: 20px;
  line-height: 2;
}

a{
  color: #146356;
  font-family: 'Ubuntu', sans-serif;
  margin: 0 20px;
  text-decoration:none;
}

a:hover{
  color:#5D8BF4;
}

.profile-pic{
  width:220px;
}

/* Middle container */

.middle-container{
  margin: 100px 0;
}

.greeting{
  padding: 3rem 0;
}

.intro{
  width: 40%;
  margin: auto;
  text-align: justify;
}

.icon{
  float: left;
  margin-right: 30px;
  width: 250px;
}

.gt-row{
  margin:100px auto 100px;
  text-align: justify;
  width:50%;
}

.skill-row{
  margin:100px auto 100px;
  text-align: justify;
  width:50%;
}

/* Bottom Container */
.bottom-container{
  background-color: #65C18C;
  padding: 50px 0 20px;
}
.contact-message{
  width:40%;
  margin: 40px auto;
}

.btn {
  background: #00b4d8;
  background-image: -webkit-linear-gradient(top, #00b4d8, #65c18b);
  background-image: -moz-linear-gradient(top, #00b4d8, #65c18b);
  background-image: -ms-linear-gradient(top, #00b4d8, #65c18b);
  background-image: -o-linear-gradient(top, #00b4d8, #65c18b);
  background-image: linear-gradient(to bottom, #00b4d8, #65c18b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  margin:none;
  text-decoration: none;
}

.btn:hover {
  color: #ffffff;
  background: #139487;
  text-decoration: none;
}

.footer-link{
  font-size: 1.25rem;
}

.copyright{
  color: #146356;
  font-size: 1.2rem;
  margin:40px 0;
}

@media (max-width:991px) {

  p{
    font-size: 2rem;
  }

  .intro{
    width: 60%;
  }

  .icon{
    float:none;
    width: 100%;
    text-align: center;
    margin: 50px 0;
  }
  .gt-row{
    width: 60%;
  }

  .skill-row{
    width: 60%;

  }


}
